<div class="container">
  {{nbd-header}}

  <section class="row contact">
  </section>

  <footer class="row contact-footer">
    <div class="twelve columns">
      <nav>
        <a href="https://soundcloud.com/nbdlabel" target="_blank">
          {{fa-icon icon="soundcloud"}}
        </a>
        <a href="https://instagram.com/nbdlabel" target="_blank">
          {{fa-icon icon="instagram"}}
        </a>
        <a href="https://www.facebook.com/nbdlabel" target="_blank">
          {{fa-icon icon="facebook"}}
        </a>
        <a href="https://twitter.com/nbdlabel" target="_blank">
          {{fa-icon icon="twitter"}}
        </a>
      </nav>
      <p><a href="mailto:hello@nbdlabel.com?Subject=Hello%20nbd!" target="_blank">hello@nbdlabel.com</a></p>
      <p>design by <a href="http://amandaanderson.xyz/" target="_blank">amanda anderson</a></p>
      <p>development by <a href="http://eubenesa.com/" target="_blank">eubene sa</a></p>
      <p>&copy; 2015-{{currentYear}} nbd label.</p>
    </div>
  </footer>
</div>
