<div class="container">
  {{nbd-header}}

  <div class="row page-content">
    <div class="twelve columns">
      <section class="contact">
      </section>
    </div>
  </div>

  <footer class="row contact-footer">
    <div class="twelve columns">
      <nav>
        <a href="https://soundcloud.com/nbdlabel" target="_blank">
          {{fa-icon icon="soundcloud"}}
        </a>
        <a href="https://instagram.com/nbdlabel" target="_blank">
          {{fa-icon icon="instagram"}}
        </a>
        <a href="https://www.facebook.com/nbdlabel" target="_blank">
          {{fa-icon icon="facebook"}}
        </a>
        <a href="https://twitter.com/nbdlabel" target="_blank">
          {{fa-icon icon="twitter"}}
        </a>
      </nav>
      <p class="email"><a href="mailto:hello@nbdlabel.com?Subject=Hello%20nbd!" target="_blank">hello@nbdlabel.com</a></p>
      <p>design by <a href="http://amandaanderson.xyz/" target="_blank">amanda anderson</a></p>
      <p class="development-by">development by <a href="http://eubene.me/" target="_blank">eubene sa</a></p>
      <p>© 2015 nbd label</p>
    </div>
  </footer>
</div>
