<header>
  <div class="row">
    <div class="twelve columns">
      <section class="header-logo">
        {{#link-to 'about'}}
          <object type="image/svg+xml" data="/assets/images/nbd-logo.svg">
            Your browser doesn't support SVG, nbd.
          </object>
        {{/link-to}}
      </section>
    </div>
  </div>

  <nav class="row header-links">
    <div class="twelve columns">
      {{link-to 'about' 'about' class='header-link'}}
      {{link-to 'artists' 'artists' class='header-link'}}
      {{link-to 'listen' 'listen' class='header-link'}}
      {{link-to 'releases' 'releases' class='header-link'}}
      {{link-to 'contact' 'contact' class='header-link'}}
    </div>
  </nav>
</header>
