<div class="container">
  {{partial 'header'}}

  <div class="row page-content">
    <div class="twelve columns">
      <section class="artists">
        {{#each model as |artist|}}
          <div class="artist">
            <div class="six columns">
              <img src={{artist.imgUrl}} alt="">
              <div class="six columns artist-name-blurb-social">
                <p>{{artist.name}}</p>
                <p>{{artist.blurb}}</p>
                <nav>
                  {{#if artist.scUrl}}
                    <a href={{artist.scUrl}} target="_blank">
                      <i class="fa fa-soundcloud"></i>
                    </a>
                  {{/if}}
                  {{#if artist.instaUrl}}
                    <a href={{artist.instaUrl}} target="_blank">
                      <i class="fa fa-instagram"></i>
                    </a>
                  {{/if}}
                  {{#if artist.fbUrl}}
                    <a href={{artist.fbUrl}} target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                  {{/if}}
                  {{#if artist.twUrl}}
                    <a href={{artist.twUrl}} target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                  {{/if}}
                </nav>
              </div>
            </div>
          </div>
        {{/each}}
      </section>
    </div>
  </div>
</div>
