<div class="container">
  {{partial 'header'}}

  <div class="row page-content">
    <div class="twelve columns">
      <section class="contact">
      </section>
    </div>
  </div>

  <footer class="row contact-footer">
    <div class="twelve columns">
      <p><a href="https://instagram.com/nbdlabel" target="_blank">@nbdlabel</a></p>
      <p><a href="mailto:nbdlabel@gmail.com?Subject=Hello%20nbd!" target="_blank">nbdlabel@gmail.com</a></p>
      <nav>
        <a href="https://soundcloud.com/nbdlabel" target="_blank">
          {{fa-icon "soundcloud"}}
        </a>
        <a href="https://instagram.com/nbdlabel" target="_blank">
          {{fa-icon "instagram"}}
        </a>
        <a href="https://www.facebook.com/nbdlabel" target="_blank">
          {{fa-icon "facebook"}}
        </a>
        <a href="https://twitter.com/nbdlabel" target="_blank">
          {{fa-icon "twitter"}}
        </a>
      </nav>
    </div>
  </footer>
</div>
