<div class="container">
  {{nbd-header}}

  <div class="page-content">
    <section class="row artists">
      {{#each model as |artist|}}
        <div class="one-half column artist">
          <img src={{artist.imgUrl}} alt={{artist.name}}>
          <div class="twelve columns artist-info">
            {{#if artist.photoByName}}
              {{#if artist.photoByUrl}}
                <p class="photo-credit">{{fa-icon icon="camera-retro"}} by <a href={{artist.photoByUrl}} target="_blank">{{artist.photoByName}}</a></p>
              {{else}}
                <p class="photo-credit">{{fa-icon icon="camera-retro"}} by {{artist.photoByName}}</p>
              {{/if}}
            {{/if}}
            <p>{{artist.name}}</p>
            <p>{{artist.blurb}}</p>
            <nav>
              {{#if artist.soundcloudUrl}}
                <a href={{artist.soundcloudUrl}} target="_blank">
                  {{fa-icon icon="soundcloud"}}
                </a>
              {{/if}}
              {{#if artist.bandcampUrl}}
                <a href={{artist.bandcampUrl}} target="_blank">
                  {{fa-icon icon="play"}}
                </a>
              {{/if}}
              {{#if artist.instagramUrl}}
                <a href={{artist.instagramUrl}} target="_blank">
                  {{fa-icon icon="instagram"}}
                </a>
              {{/if}}
              {{#if artist.facebookUrl}}
                <a href={{artist.facebookUrl}} target="_blank">
                  {{fa-icon icon="facebook"}}
                </a>
              {{/if}}
              {{#if artist.twitterUrl}}
                <a href={{artist.twitterUrl}} target="_blank">
                  {{fa-icon icon="twitter"}}
                </a>
              {{/if}}
            </nav>
          </div>
        </div>
      {{/each}}
    </section>
  </div>
</div>
